.flex-horizontal {
    display:flex;
    flex-direction:row
}
.flex-horizontal>.flex-spacer {
    min-width:1px
}

.flex-vertical {
    display:flex;
    flex-direction:column
}

.flex-vertical>.flex-spacer {
    min-height:1px
}

.flex-spacer {
    flex:1
}

.chat {
    display:flex;
    flex-direction:column;
    position:relative;
    line-height: 16px;
    color:#fff
}

.chat .content {
    background:#fff;
}

.theme-dark .chat>.content,.theme-dark .friends-table,.theme-dark .messages-wrapper {
    background-color:#36393e
}

.chat .messages-wrapper {
    position:relative;
    display:flex;
    flex:1;
    overflow:hidden;
    z-index:0
}

.scroller-wrap {
    position:relative;
    min-height:1px;
    display:flex;
    flex:1
}

.scroller-wrap .scroller {
    min-height:1px;
    flex:1
}
.chat .messages {
    margin:0;
    overflow-x:hidden
}

.emoji {
  object-fit: contain;
  width: 22px;
  height: 22px;
  margin: 0 .05em 0 .1em !important;
  vertical-align: -.4em;
}

.emoji.jumboable {
  width: 32px;
  height: 32px;
}

.message-group {
    display:flex;
    padding:20px 0;
    margin-left:20px;
    margin-right:6px;
    box-sizing:border-box;
    user-select:text
}

.message-group a {
    color:#00b0f4;
    transition:50ms;
    cursor:pointer
}
.message-group a:hover {
    text-decoration:underline
}

.message-group .message .markup a {
    unicode-bidi:bidi-override;
    direction:ltr
}

.message-group .accessory {
    display:flex;
    align-items:flex-start;
    flex-direction:column
}

.message-group .emoji {
    margin-bottom:-5px
}
.message-group .image {
    vertical-align:bottom;
    max-width:520px
}
.message-group .avatar-large {
    -webkit-flex-shrink:0;
    flex-shrink:0;
    margin-top:-2px;
    margin-right:20px
}
.message-group h2 {
    margin:0;
    padding:0
}
.message-group h2 strong {
    color:#2e3136;
    font-size:16px;
    font-weight:600;
    letter-spacing:0
}

.message-group h2 .timestamp {
    color:#99aab5;
    font-size:12px;
    letter-spacing:0;
    font-weight:500;
    text-transform:none;
    margin-left:6px
}

.message-group .highlight-separator {
    opacity:0;
    width:0;
    display:inline-block;
    color:#99aab5
}
.message-group .comment {
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
    box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    margin-right:20px;
    min-width:0
}
.message-group .comment .markup {
    color:#737f8d;
    font-size:15px;
    line-height:1.1em;
    white-space:pre-wrap;
    margin-top:6px;
    word-wrap:break-word
}
.message-group .comment .markup strong {
    font-weight:700
}
.message-group .comment .markup em {
    font-style:italic
}
.message-group .comment .markup pre {
    border:2px solid #f3f3f3;
    border-radius:5px;
    max-width:90%;
    box-sizing:border-box;
    font-size:12px;
    white-space:pre-wrap;
    margin-top:6px
}
.message-group .comment .markup pre code {
    background:#f9f9f9;
    text-indent:initial
}
.message-group .comment .markup code.inline {
    width:auto;
    height:auto;
    padding:.2em;
    border-radius:3px;
    font-size:85%;
    text-indent:initial
}
.message-group.compact .comment {
    width:100%
}
.message-group.compact .accessory {
    padding-left:100px
}
.message-group.compact .emoji {
    height:16px;
    width:16px;
    vertical-align:top
}
.message-group.compact .emoji.jumboable {
    width:16px;
    height:16px
}
.message-group.compact.message-group {
    padding:3px 0
}

.message-group.compact .timestamp {
    color:#d1d9de;
    display:inline-block;
    width:65px;
    text-align:right;
    padding-right:5px;
    overflow:hidden;
    font-size:11px;
    line-height:16px;
    vertical-align:bottom
}
.message-group.compact .message {
    padding:0;
    margin:6px 0;
    line-height:18px;
    vertical-align:bottom
}

.message-group.compact .message:not(.first) .timestamp {
    color:transparent!important
}
.message-group.compact .message:hover .timestamp {
    color:#99aab5!important
}
.message-group.compact .message .message-text .markup {
    text-indent:-100px;
    padding-left:100px
}

.message-group.compact .message .message-text .markup .user-name {
    margin-right:5px;
    font-size:16px;
    line-height:16px;
    font-weight:600;
    color:#4f545c;
    word-break:break-all
}

.theme-dark .message-group h2 strong {
    color:#fff
}
.theme-dark .message-group h2 span {
    color:rgba(255,255,255,.2)
}
.theme-dark .message-group a {
    color:#0096cf
}

.theme-dark .message-group .comment .markup {
    color:rgba(255,255,255,.7)
}

.theme-dark .message-group .comment .markup pre {
    background:#2e3136;
    border-color:#282b30
}
.theme-dark .message-group .comment .markup code.inline,.theme-dark .message-group .comment .markup pre code {
    background:#2e3136
}

.theme-dark .message-group.compact .timestamp {
    color:rgba(255,255,255,.2)
}
.theme-dark .message-group .embed-wrapper .embed-color-pill {
    background-color:#4f545c
}
.theme-dark .message-group .embed {
    background-color:rgba(46,48,54,.3);
    border-color:rgba(46,48,54,.6)
}
.theme-dark .message-group .embed .embed-footer,.theme-dark .message-group .embed .embed-provider {
    color:rgba(255,255,255,.6)
}
.theme-dark .message-group .embed .embed-author-name {
    color:#fff!important
}
.theme-dark .message-group .embed div.embed-title {
    color:#fff
}
.theme-dark .message-group .embed .embed-description,.theme-dark .message-group .embed .embed-fields {
    color:rgba(255,255,255,.6)
}
.theme-dark .message-group .embed .embed-fields .embed-field-name {
    color:#fff
}

.hide-overflow {
    overflow:hidden
}
.avatar-large,.avatar-profile,.avatar-small,.avatar-xlarge,.avatar-xsmall,.avatar-xxlarge {
    background-clip:padding-box;
    position:relative;
    background-color:none;
    background-position:center center;
    border-radius:50%
}
.avatar-large {
    width:40px;
    height:40px;
    background-size:40px 40px
}

.message-group .avatar-large {
    flex-shrink:0;
    margin-top:-2px;
    margin-right:20px
}

.comment>:last-child .embed {
    margin-bottom:auto
}
.message-group .comment .markup code.inline,.message-group .comment .markup pre {
    font-family:Consolas,'Liberation Mono',Menlo,Courier,monospace;
    background:#f9f9f9
}
.message-group .comment {
    flex:1;
    margin-right:20px;
    min-width:0
}
.message-group .comment .markup {
    color:#737f8d;
    font-size:15px;
    line-height:1.1em;
    white-space:pre-wrap;
    margin-top:6px;
    word-wrap:break-word
}
.message-group .comment .markup strong {
    font-weight:700
}
.message-group .comment .markup em {
    font-style:italic
}
.message-group .comment .markup pre {
    border:2px solid #f3f3f3;
    border-radius:5px;
    max-width:90%;
    box-sizing:border-box;
    font-size:12px;
    white-space:pre-wrap;
    margin-top:6px
}
.message-group .comment .markup pre code {
    background:#f9f9f9;
    text-indent:initial
}
.message-group .comment .markup code.inline {
    width:auto;
    height:auto;
    padding:.2em;
    border-radius:3px;
    font-size:85%;
    text-indent:initial
}
.message-group.compact .comment {
    width:100%
}
.theme-dark .message-group .comment .markup {
    color:rgba(255,255,255,.7)
}
.theme-dark .message-group .comment .markup pre {
    background:#2e3136;
    border-color:#282b30
}
.theme-dark .message-group .comment .markup code.inline,.theme-dark .message-group .comment .markup pre code {
    background:#2e3136
}
.message-group,.message-group.compact .message .message-text .markup .message-content {
    word-wrap:break-word
}
.chat .user-name:hover {
    text-decoration:underline
}
.message-group.compact .message .message-text .markup .user-name {
    margin-right:5px;
    font-size:16px;
    line-height:16px;
    font-weight:600;
    color:#4f545c;
    word-break:break-all
}
.bot-tag {
    background:#7289da;
    font-size:10px;
    font-weight:600;
    color:#fff!important;
    margin-left:6px;
    padding:1px 2px;
    border-radius:3px;
    text-transform:uppercase;
    vertical-align:bottom;
    line-height:16px;
    flex-shrink:0
}
.compact .bot-tag {
    margin:0 3px 0 0
}
.embed-wrapper {
    position:relative;
    margin-top:5px;
    max-width:520px;
    display:flex
}
.embed-wrapper .embed-color-pill {
    width:4px;
    background:#cacbce;
    border-radius:3px 0 0 3px;
    flex-shrink:0
}
.theme-dark .message-group .embed-wrapper .embed-color-pill {
    background-color:#4f545c
}
.embed {
    padding:8px 10px;
    box-sizing:border-box;
    background:rgba(249,249,249,.3);
    border:1px solid rgba(205,205,205,.3);
    border-radius:0 3px 3px 0;
    display:flex;
    flex-direction:column
}
.embed div.embed-title {
    color:#4f545c
}
.embed .embed-content {
    width:100%;
    display:flex;
    margin-bottom:10px
}

.embed .embed-content .embed-content-inner {
    padding-bottom: 5px;
    flex:1
}
.embed.embed-rich {
    position:relative;
    display:flex;
    border-radius:0 3px 3px 0
}
.embed.embed-rich .embed-rich-thumb {
    max-height:80px;
    max-width:80px;
    border-radius:3px;
    width:auto;
    object-fit:contain;
    flex-shrink:0;
    margin-left:20px
}
.embed.embed-link {
    display:flex;
    flex-direction:row;
    box-sizing:border-box
}
.embed.embed-link .embed-inner {
    flex:1;
    max-width:700px
}
.embed.embed-link .embed-thumbnail {
    margin-left:16px
}
.embed.embed-tweet .embed-inner>* {
    display:inline-block
}
.embed.embed-tweet .embed-inner>*+* {
    margin-left:5px
}
.embed.embed-inline {
    padding:0;
    margin:4px 0;
    border-radius:3px
}
.embed .image,.embed video {
    display:flex;
    overflow:hidden;
    border-radius:2px
}
.embed .embed-content-inner>:last-child,.embed .embed-content:last-child,.embed .embed-inner>:last-child,.embed>:last-child {
    margin-bottom:0!important
}
.embed .embed-provider {
    display:inline-block;
    color:#87909c;
    font-weight:400;
    font-size:12px;
    margin-bottom:5px
}
.embed .embed-author {
    display:flex;
    align-items:center;
    margin-bottom:5px
}
.embed .embed-author-name,.embed .embed-footer,.embed .embed-title {
    display:inline-block;
    font-weight:600
}
.embed .embed-author-name {
    font-size:14px;
    color:#4f545c!important
}
.embed .embed-author-icon {
    margin-right:9px;
    width:20px;
    height:20px;
    object-fit:contain;
    border-radius:50%
}
.embed .embed-footer {
    font-size:12px;
    color:rgba(79,83,91,.6);
    letter-spacing:0
}
.embed .embed-footer-icon {
    margin-right:10px;
    height:18px;
    width:18px;
    object-fit:contain;
    float:left;
    border-radius:2.45px
}
.embed .embed-title {
    margin-bottom:4px;
    font-size:14px
}
.embed .embed-title+.embed-description {
    margin-top:-3px!important
}
.embed .embed-description {
    display:block;
    font-size:14px;
    font-weight:500;
    margin-bottom:10px;
    color:rgba(79,83,91,.9);
    letter-spacing:0
}
.embed .embed-fields,.embed .embed-video-actions {
    display:flex
}
.embed .embed-description.markup {
    white-space:pre-line;
    margin-top:0!important;
    font-size:14px!important;
    line-height:16px!important
}
.embed .embed-description.markup pre {
    max-width:100%!important
}
.embed .embed-fields {
    display:flex;
    flex-direction:row;
    -webkit-box-lines:multiple;
    -moz-box-lines:multiple;
    -o-box-lines:multiple;
    flex-wrap:wrap;
    color:#36393e;
    margin-top:-10px;
    margin-bottom:10px
}
.embed .embed-fields .embed-field {
    flex:0;
    padding-top:10px;
    min-width:100%;
    max-width:506px
}
.embed .embed-fields .embed-field.embed-field-inline {
    flex:1;
    min-width:150px;
    flex-basis:auto
}
.embed .embed-fields .embed-field .embed-field-name {
    font-size:14px;
    margin-bottom:4px;
    font-weight:600
}
.embed .embed-fields .embed-field .embed-field-value {
    font-size:14px;
    font-weight:500
}
.embed .embed-error {
    display:block;
    color:#99aab5;
    font-size:15px;
    line-height:1.1em;
    font-weight:500;
    margin-bottom:8px
}
.embed .embed-thumbnail,.embed .embed-thumbnail-gifv {
    position:relative;
    display:inline-block
}
.embed .embed-thumbnail {
    margin-bottom:10px
}
.embed .embed-thumbnail img {
    margin:0
}
.embed .embed-thumbnail.embed-thumbnail-article,.embed .embed-thumbnail.embed-thumbnail-image {
    cursor:nesw-resize;
    cursor:zoom-in
}
.embed .embed-thumbnail-gifv video {
    background-color:rgba(0,0,0,.05)
}
.embed .embed-thumbnail-gifv:hover:after {
    display:none
}
.embed .embed-video-actions {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:flex;
    justify-content:center;
    align-items:center
}
.embed .embed-video-actions .embed-video-actions-inner {
    background:rgba(0,0,0,.6);
    border-radius:18px/35px;
    padding:12px 14px;
    display:flex;
    justify-content:center;
    align-items:center
}
.embed .embed-video-actions .embed-video-play,.embed .embed-video-actions .embed-video-popout {
    width:24px;
    height:24px;
    background:0 0;
    background-size:24px 24px;
    display:inline-block;
    opacity:.6;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter:alpha(opacity=60)
}
.embed .embed-video-actions .embed-video-play+*,.embed .embed-video-actions .embed-video-popout+* {
    margin-left:4px
}
.embed .embed-video-actions .embed-video-play:hover,.embed .embed-video-actions .embed-video-popout:hover {
    opacity:1;
    -ms-filter:none;
    filter:none
}
.comment>:last-child .embed {
    margin-bottom:auto
}
.theme-dark .message-group .embed {
    background-color:rgba(46,48,54,.3);
    border-color:rgba(46,48,54,.6)
}
.theme-dark .message-group .embed .embed-footer,.theme-dark .message-group .embed .embed-provider {
    color:rgba(255,255,255,.6)
}
.theme-dark .message-group .embed .embed-author-name {
    color:#fff!important
}
.theme-dark .message-group .embed div.embed-title {
    color:#fff
}
.theme-dark .message-group .embed .embed-description,.theme-dark .message-group .embed .embed-fields {
    color:rgba(255,255,255,.6)
}
.theme-dark .message-group .embed .embed-fields .embed-field-name {
    color:#fff
}
.chat>.title-wrap>.topic a,.message-group a {
    text-decoration:none
}

code {
    font-family: Menlo, Consolas, Monaco, monospace;
    font-size: 14px;
    line-height: 16px;
}

.theme-dark .hljs, .theme-light .hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    -webkit-text-size-adjust: none;
}

.theme-light .hljs {
    background: #fdf6e3;
    color: #657b83;
}

.theme-dark .hljs {
    background: #002b36;
    color: #839496;
}
